body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #abc4c4;
  color: rgb(29, 55, 61); 
 }

 * {
   box-sizing: border-box;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-exit {
  opacity: 1;
  margin-bottom: 55px;
}

.fade-exit-active {
  opacity: 0;
  transition: all 900ms ease-out;
}

.fade-exit-done {
  opacity: 0;
}

.fade-exit.success {
  opacity: 1;
}

.fade-exit-active.success {
  margin-bottom: 90px;
  opacity: 0;
  transition: all 2000ms ease-out;
}

.fade-exit-done.success {
  margin-bottom: 90px;
  opacity: 0;
}
